/* MEDIA QUERIES */

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 980px) {
    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: 150px;
    }
}

@media only screen and (max-width: 880px) {
    .parallax2 {
        min-height: 900px;
    }
    .skills {
        width: 100%;
        float: none;
    }
}

@media screen and (max-device-width: 680px) {
    .timeline ul li {
        margin-left: 20px;
    }
    .timeline ul li#experience-tile div {
      width: 500px;
    }
    .timeline ul li:nth-child(even) div {
        left: 515px;
    }

    .timeline ul li#experience-tile::after {
      background: none;
    }

    .timeline ul li#experience-tile.in-view::after {
      background: none;
    }

    .timeline ul li#experience-tile:nth-child(even) div {
      transform: translate3d(-770px, 0, 0);
  }

  .timeline ul li#experience-tile:nth-child(odd) div {
      transform: translate3d(-253px, 0, 0);
  }
}
