.skill-header {
  color: #00808e;
  background-color: #111;
  letter-spacing: 5px;
  font-size: 20px;
  line-height: 30px;
  height: 30px;
  display: inline-block;
  padding: 10px 15px 10px 20px;
  margin: 10px;
}

.skill-item {
  color: lightgray;
  background-color: #111;
  letter-spacing: 5px;
  font-size: 15px;
  line-height: 30px;
  height: 30px;
  display: inline-block;
  padding: 5px 10px 5px 15px;
  margin: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
