.text-section, .text-section2, .parallax4 {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.text-section h3 {
    font-size: 35px;
}

.text-section h4, .parallax4 h4 {
    font-size: 25px;
}

.text-section p, .parallax4 p {
    font-size: 20px;
}

.text-section div.caption2, .parallax4 div.caption2 {
    padding: 0 0 1%;
}

.text-section2 h3 {
    font-size: 25px;
    color: #00808e;
}

.caption, .caption2 {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption2 {
    position: relative;
    display: inline-block;
    padding: 5% 0 1%;
}

.caption span.border, .caption2 span.border {
    background-color: #111;
    color: #00808e;
    padding: 18px 8px 18px 18px;
    font-size: 25px;
    letter-spacing: 10px;
    line-height: 75px;
}

.social-links {
    display: inline-block;
    margin: 20px;
}
