time {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #00808e;
}

.timeline h4 {
  font-size: 1.2rem;
  margin: 5px 0;
  color: #00808e;
}

.timeline ul {
    padding: 0;
}

.timeline ul li#experience-tile {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 20px;
    background: #111;
}

.timeline ul li#experience-tile::after {
    content: '';
    position: absolute;
    left: 48%;
    bottom: 0;
    transform: translateX(-48%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #444;
    transition: background 1s ease-in-out;
}

.timeline ul li#experience-tile.in-view::after {
    background: #111;
}

.timeline ul li#experience-tile div {
    visibility: hidden;
    opacity: 0;
    position: relative;
    bottom: 0;
    width: 600px;
    padding: 15px;
    background: #111;
    color: lightgray;
    transition: all 1s ease-in-out;
}

.timeline ul li#experience-tile div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li#experience-tile.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
    border-radius: 10px;
}

.timeline ul li#experience-tile:nth-child(even) div {
    transform: translate3d(35px, 0, 0);
}

.timeline ul li#experience-tile:nth-child(even) div::before {
    left: -15px;
}

.timeline ul li#experience-tile:nth-child(odd) div {
    transform: translate3d(-659px, 0, 0);
}

.timeline ul li#experience-tile:nth-child(odd) div::before {
    right: -15px;
}

.timeline ul li#experience-tile div h4 {
    text-align: left;
}

.timeline ul li#experience-tile div ul li {
  margin: 15px;
  list-style: square;
}
