html, body {
    height: 100%;
    font-family: "Lato", sans-serif;
    margin: 0;
}

.full-container {
    width: 100%;
}

.lfloat {
    float: left;
}

.rfloat {
    float: right;
}

h3, h4, p {
    text-align: center;
}

.parallax1, .parallax2, .parallax3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.parallax1 {
    height: 100%;
    background-image: url('assets/snowy-mountain.jpeg');
    min-height: 100%;
}

.parallax2 {
    background-image: url('assets/laptop-background.jpeg');
    min-height: 665px;
}

.parallax3 {
    background-image: url('assets/dog-bridge-background.jpeg');
    min-height: 1050px;
}

.caption, .caption2 {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption2 {
    position: relative;
    display: inline-block;
    padding: 5% 0 1%;
}

.caption span.border, .caption2 span.border {
    background-color: #111;
    color: #00808e;
    padding: 18px 8px 18px 18px;
    font-size: 25px;
    letter-spacing: 10px;
    line-height: 75px;
}

.text-section, .text-section2 {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.text-section h3 {
    font-size: 35px;
}

.text-section h4 {
    font-size: 25px;
}

.text-section p {
    font-size: 20px;
}

.text-section div.caption2 {
    padding: 0 0 1%;
}

.text-section2 h3 {
    font-size: 25px;
    color: #00808e;
}

.skills {
    padding-top: 20px;
    width: 50%;
    min-width: 420px;
}

.skill {
    color: lightgray;
    background-color: #111;
    letter-spacing: 5px;
    font-size: 20px;
    line-height: 50px;
    width: 400px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.skill span {
    padding: 0 10px;
}

.skill span i.fa {
    font-size: 20px;
    color: #00808e;
}

.skill span i.fa.gray {
    color: lightgray;
}

time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.timeline ul {
    padding: 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #111;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 48%;
    bottom: 0;
    transform: translateX(-48%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #444;
    transition: background 1s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #111;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #111;
    color: lightgray;
    transition: all 1s ease-in-out;
}

.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(45px, 0, 0);
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #111 transparent transparent;
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-469px, 0, 0);
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #111;
}

.timeline ul li div h4 {
    text-align: left;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 980px) {
    .timeline ul li div {
        width: 250px;
    }
    .timeline ul li:nth-child(even) div {
        left: 150px;
    }
}

@media only screen and (max-width: 880px) {
    .parallax2 {
        min-height: 900px;
    }
    .skills {
        width: 100%;
        float: none;
    }
}

@media screen and (max-width: 680px) {
    .timeline ul li {
        margin-left: 20px;
    }
    .timeline ul li div {
        width: 300px;
    }
    .timeline ul li:nth-child(even) div {
        left: 515px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #111 transparent transparent;
    }
}
